body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background: url('media/image13.webp') no-repeat center center fixed; font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #f4f4f4;
}

.panel {
    display: flex;
    justify-content: space-around;
    gap: 20px; /* Space between the boxes */
}

.panel div {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.panel div:hover {
    transform: translateY(-5px);
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}